.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 720px;
}

#header{
    font-size: 3.2em;
    color: var(--text-color);
}

.login-input-form{
    background-color: var(--background-container);
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 520px;
}

#login-input-label{
    font-size: 2.2em;
    color: var(--text-color);
    width: 65%;
    height: 100px;
    margin-top: 30px;
}

#login-input{
    color: var(--text-color);
    font-size: 2.4em;
    border-color: black;
    border-width: 3px;
    width: 65%;
    height: 100px;
    margin-bottom: -15px;
    margin-top: -20px;
    background-color: rgb(193, 206, 214);
}

#login-input::placeholder{
    color: var(--text-color);
}

#login-input:focus{
    border-color: rgb(100, 216, 236);
    border-width: 4px;
    outline: none;
}

.button-container{
    text-align: center;
    margin-top: -70px;
}

#login-button{
    background-color: var(--button-color);
    width: 530px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.7em;
    color: var(--button-text-color);
    font-weight: bolder;
}

#login-button:hover{
    background-color: rgb(100, 216, 236);
}